{{ define "main" }}
  <div role="main" class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        {{ with .Content }}
          <div class="well">
            {{.}}
          </div><!--/.well-->
        {{ end }}

        <div class="posts-list">
          {{ $pag := .Paginate (where .Data.Pages "Type" "post") }}
          {{ range $pag.Pages }}
            <article class="post-preview">
              <a href="{{ .Permalink }}">
                <h2 class="post-title">{{ .Title }}</h2>
                {{ if .Params.subtitle }}
                <h3 class="post-subtitle">{{ .Params.subtitle }}</h3>
                {{ end }}
                {{ if .Params.image }}
                <img src="{{ .Params.image }}" class="img-title" />
                {{ end }}
              </a>

              {{ partial "post_meta.html" . }}
              <div class="post-entry">
                {{ if .Truncated }}
                  {{ .Summary }}
                  <a href="{{ .Permalink }}" class="post-read-more">[{{ i18n "readMore" }}]</a>
                {{ else }}
                  {{ .Content }}
                {{ end }}
              </div><!--/.post-entry-->

              {{ if .Params.tags }}
                <div class="blog-tags">
                  {{ range .Params.tags }}
                    <a href="{{ $.Site.LanguagePrefix | absURL }}/tags/{{ . | urlize }}/">{{ . }}</a>&nbsp;
                  {{ end }}
                </div><!--/.blog-tags-->
              {{ end }}
            </article><!--/.post-preview-->
          {{ end }}
        </div><!--/.posts-list-->

        {{ if or (.Paginator.HasPrev) (.Paginator.HasNext) }}
          <ul class="pager main-pager">
            {{ if .Paginator.HasPrev }}
              <li class="previous">
                <a href="{{ .Paginator.Prev.URL | absURL }}">&larr; {{ i18n "newerPosts" }}</a>
              </li><!--/.previous-->
            {{ end }}
            {{ if .Paginator.HasNext }}
              <li class="next">
                <a href="{{ .Paginator.Next.URL | absURL }}">{{ i18n "olderPosts" }} &rarr;</a>
              </li><!--/.next-->
            {{ end }}
          </ul><!--/.pager .main-pager-->
        {{ end }}
      </div><!--/.col-lg-8 .col-lg-offset-2 .col-md-10 .col-md-offset-1-->
    </div><!--/.row-->
  </div><!--/.container-->
{{ end }}
